
Own_projects/Spotify_lyrics/spotify_credentials.py
Own_projects/Holded_Sales_Manager/Secret_Holder.py
Own_projects/Holded_Sales_Manager/INV-ES-910864895-2021-184.pdf
Own_projects/Holded_Sales_Manager/__pycache__/Secret_Holder.cpython-39.pyc
Own_projects/Holded_Sales_Manager/INV-DE-910864895-2021-40.pdf
Own_projects/Holded_Sales_Manager/CN-DE-910864895-2021-3.jpg
